//https://www.colortools.net/color_complementary.html

$color-primary-0: #AF727E;	// Main Primary color */
$color-primary-1: #F6D6DC;
$color-primary-2: #DBA6B0;
$color-primary-3: #88505B;
$color-primary-4: #592D36;

// rose rigolo gris

$color-primary-0: #A07D8A;	// Main Primary color */
$color-primary-1: #F3C5D7;
$color-primary-2: #D3AABA;
$color-primary-3: #745F67;
$color-primary-4: #393436;

$color_header: $color-primary-1;
$bg_header: $color-primary-4;

$color_section_1: #0008;
$bg_section_1: $color-primary-1;

$color_section_2: #0008;
$bg_section_2: $color-primary-3;

$color_section_3: $color-primary-2;
$bg_section_3: $color-primary-4;

$color_section_4: #0008;
$bg_section_4: $color-primary-3;

$color_section_5: #0008;
$bg_section_5: $color-primary-1;

$color_section_6: white;
$bg_section_6: #27282a;
