//https://www.colortools.net/color_complementary.html
$color-primary-0: #A07D8A;	// Main Primary color */
$color-primary-1: #fbd082;
$color-primary-2: white;
$color-primary-3: #fce4cb;
$color-primary-4: #9d7d71;

$color_header: $color-primary-1;
$bg_header: $color-primary-4;

$color_section_1: #0008;
$bg_section_1: $color-primary-1;

$color_section_2: #0008;
$bg_section_2: $color-primary-3;

$color_section_3: $color-primary-2;
$bg_section_3: $color-primary-4;

$color_section_4: #0008;
$bg_section_4: $color-primary-3;

$color_section_5: #0008;
$bg_section_5: $color-primary-1;

$color_section_6: white;
$bg_section_6: #27282a;
