//https://www.colortools.net/color_complementary.html
$color_header: #fdb497;
$bg_header: #F0FFFF;




// $color_section_2: black;
// $bg_section_2: #b7e8bb;
//
// $color_section_4: black;
// // $color_section_4: #4C1F1E;
// $bg_section_4: #b3e0e1;
//
// $color_section_5: #6b6db5;
// $bg_section_5: #f1db81;
//
// $color_section_1: white;
// // $color_section_1: #D1C197;
// $bg_section_1: #2c3e68;
//
// $color_section_3: white;
// $bg_section_3: #17181a;

$color_header: #fdb497;
$bg_header: #F0FFFF;

$color_section_2: white;
$bg_section_2: #e64939;

$color_section_4: black;
$bg_section_4: #b3e0e1;

$color_section_5: #6b6db5;
$bg_section_5: #f1db81;

$color_section_1: white;
$bg_section_1: #2c3e68;

$color_section_3: black;
$bg_section_3: #D1C197;

$color_section_6: white;
$bg_section_6: #17181a;
