//https://paletton.com/#uid=75q0X0klzJJv1e9skvWdIUo0V+Y

@import 'color', 'media', 'breckpoints', 'navbar';
// body {
//   margin: 0;
// }
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
main, header, footer{
  top: 0;
  > div {
    width: 100vw;
    position: relative;
    overflow:  hidden!important;
  }
}
header {
  padding: 3vw 3%;
  @include lg {
    padding: 0 20% 3vw 20%;
  }
  z-index: 2;
}
main {
  position: absolute;
  z-index: 1;
  width: 0;
}
footer {
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100vh;
  top: 0;
  padding-top: 20px;
}
div, p, h1, h2 {
  hyphens: none;
}
.header{
  height: 30vw;
  background: $bg_header;
  color: $color_header;
  background-size: cover;
  background-attachment: fixed;
  min-height: 50vh;
  p {
    color: white;
    background-color: #0002;
    margin: 200px auto;
    text-align: center;
    font-size: 4vw;
    @include lg {
      font-size: 40px;
    }
  }
}
h1 {
  margin: 0;
  padding: 2rem 0;
  color: $color_header;//$color-primary-1;
}
h1, h2 {
  font-family: Recoleta, Georgia,"Times New Roman",Times,serif;

  // margin: 0;
  // padding: 1em 0;
  font-size: 9vw;
  @include lg {
    font-size: 80px;
  }
}
.center {
  width: 80%;
  max-width: 1040px;
  margin: 0 auto;
}
.section {
  min-height: 120vh;
  p {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    @include sm {
      font-size: 3vw;
    }
    @include lg {
      font-size: 30px;
    }
  }
  &#catalogue {
    background-color: $bg_section_1;
    color: $color_section_1;
  }
  &#affiche {
    background-color: $bg_section_2;
    color: $color_section_2;
  }
  &#maquette {
    background-color: $bg_section_3;
    color: $color_section_3;
  }
  &#flyer {
    background-color: $bg_section_4;
    color: $color_section_4;
  }
  &#logo {
    background-color: $bg_section_5;
    color: $color_section_5;
  }
}
input {
  width: 90%;
  &[type=checkbox] {
    width: 5%;
  }
}
label {
  display: block;
  line-height: 3em;
  &.checkbox {
    display: contents;

  }
}
textarea {
  width: 100%;
}
#contact {
  background-color: $bg_section_6;
  color: $color_section_6;
}
.vide-footer {
  //for fixe footer effect
  height:98vh;
  width: 1px;
}

.icon {
  text-align: center;
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 4vw;
  &:hover, &:active{
    color: $color-primary-1;
  }
  @include lg {
    font-size: 40px;
  }
  >i{
    font-size: 50px;
    @include lg {
      font-size: 100px;
    }

  }
}
.rowsContact {
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.opacity-scroll-magic {
  will-change: opacity;
}

.w{
  will-change: opacity, transform;
  width: 100vw;
  margin: 300px auto;
  display: grid;
  grid-column-gap: 50px;
  grid-row-gap: 105px;
  width: 100vw;
  max-width: 1600px;
  height: 1300px;
  margin: 0 auto;
  grid-column-gap: 1vw;
  grid-template-columns: repeat(5,1fr);
}
.w2 {
  height: 1600px;
}
.cadre {
  background-color: #FFF0;
  .img_catalogue {
    max-width: 250px;
    // min-width: 500px;
    margin-top: 5rem;
    box-shadow: 4px 4px 20px rgba(0,0,0,0.5);
  }
}
.cadre-1 {
  padding-top: 3.5vw;
}
.cadre-2 {
  padding-top: 1vw;
}
.cadre-3 {
  padding-top: 6vw;
}
.cadre-4 {
  padding-top: 0.5vw;
}
.cadre-5 {
  padding-top: 10vw;
}
