//https://paletton.com/#uid=75q0X0klzJJv1e9skvWdIUo0V+Y

@import 'color', 'media', 'breckpoints', 'navbar';
// body {
//   margin: 0;
// }
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
main, header, footer{
  > div {
    padding: 1em 0;
  }
}
header {
  background-color: $bg_header;
  padding: 3vw 3%;
  @include lg {
    padding: 0 20% 3vw 20%;
  }
  z-index: 2;
}
main {
  position: absolute;
  z-index: 1;
}
footer {
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100vh;
  top: 0;
  padding-top: 150px;

}
h1 {
  margin: 0;
  color: $color_header;//$color-primary-1;

}
h1, h2 {
  // font-family: 'Open Sans Condensed', sans-serif;
  // font-family: apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif;
  // font-family: Recoleta,Georgia,"Times New Roman",Times,serif;
  // font-family: 'Noto Sans JP', sans-serif;
  font-family: Recoleta, Georgia,"Times New Roman",Times,serif;

  // margin: 0;
  // padding: 1em 0;
  font-size: 9vw;
  @include lg {
    font-size: 80px;
  }
}
.section {
  min-height: 120vh;
  .center {
    width: 100%;
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 20px;
  }
  p {
    // font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen-Sans","Ubuntu","Cantarell","Helvetica Neue",sans-serif;
    font-family: Recoleta, Georgia,"Times New Roman",Times,serif;
    font-size: 18px;
    @include sm {
      font-size: 4vw;
    }
    @include lg {
      font-size: 40px;
    }
  }
  &#flyer {
    background-color: $bg_section_1;
    color: $color_section_1;
  }
  &#catalogue {
    background-color: $bg_section_2;
    color: $color_section_2;
  }
  &#logo {
    background-color: $bg_section_3;
    color: $color_section_3;
  }
  &#affiche {
    background-color: $bg_section_4;
    color: $color_section_4;
  }
  &#maquette {
    background-color: $bg_section_5;
    color: $color_section_5;
  }
}

#contact {
  background-color: $bg_section_6;
  color: $color_section_6;
}
.vide-footer {
  //for fixe footer effect
  height:100vh;
  width: 1px;
}

.icon {
  text-align:  center;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 50px;
  >i{
    font-size: 150px;
  }
}

.header{
  height: 30vw;
}

.w{
  width: 100vw;
  margin: 300px auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.cadre-1 {
  background-color: #FFF0;
  padding: 0.5vw;
  max-width: 24vw;
  // min-width: 500px;
  position: relative;
  .img_catalogue {
    max-width: 24vw;
    // min-width: 500px;
    margin-top: 5rem;
    box-shadow: 4px 4px 20px rgba(0,0,0,.25);
  }
}
