<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Laurence Delcassé</title>
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'accueil/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'accueil/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'accueil/js/index.js' %}"></script>
  </head>
  <body>
    <header>
      <div class="header">
        <h1>Laurence Delcassé Graphiste</h1>
      </div>
      <nav class="navbar">
        <ul>
          <li class="navlink catalogue-nav"><a href="#catalogue">catalogue</a></li>
          <li class="navlink affiche-nav"><a href="#affiche">affiche</a></li>
          <li class="navlink maquette-nav"><a href="#maquette">maquette</a></li>
          <li class="navlink flyer-nav"><a href="#flyer">flyer</a></li>
          <li class="navlink logo-nav"><a href="#logo">logo</a></li>
          <li class="navlink contact-nav"><a href="#contact">contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <!-- <div class="gecko">
        <img title="gecko" class="gecko" src="{% static "accueil/images/carre.png" %}" alt="gecko">
      </div> -->
      <div id="catalogue" class="section">
        <div class="center opacity-scroll-magic">
          <h2>Une revue qui vous ressemble</h2>
          <p>Besoin d'attirer vos lecteurs ? Je réalise pour vous tout type de mise en page.Vos revues et catalogues adaptés au mieux à votre public.</p>
        </div>
        <div id="cataloges_images" class="w">
          <div class="cadre-1">
            <img title="catalogue-lapin" class="img_catalogue" src="{% static "accueil/images/catalogue_chasse_lapin.jpg" %}" alt="catalogue_1">
            <img title="catalogue-faisan" class="img_catalogue" src="{% static "accueil/images/catalogue_chasse_faisan.jpg" %}" alt="catalogue_2">
          </div>
          <div class="cadre-1">
              <img title="catalogue-laporte" class="img_catalogue" src="{% static "accueil/images/catalogue_laporte.jpg" %}" alt="catalogue_3">
          </div>
          <div class="cadre-1">
            <img title="catalogue-chef" class="img_catalogue" src="{% static "accueil/images/catalogue_chef.jpg" %}" alt="catalogue_4">
            <img title="catalogue-chef2" class="img_catalogue" src="{% static "accueil/images/catalogue_chef2.jpg" %}" alt="catalogue_5">
          </div>
        </div>
      </div>
      <div id="affiche" class="section">
        <div class="center opacity-scroll-magic">
          <h2>Affiche</h2>
          <p>affiche</p>
        </div>
        <div id="affiche_images" class="w">
          <div class="cadre-1">
            <img title="affiche-livre" class="img_catalogue" src="{% static "accueil/images/affiche-livre.jpg" %}" alt="affiche-livre">
            <img title="affiche-Louis" class="img_catalogue" src="{% static "accueil/images/affiche-Louis.jpg" %}" alt="affiche-Louis">
          </div>
          <div class="cadre-1">
            <img title="affiche-peinture" class="img_catalogue" src="{% static "accueil/images/affiche-peinture.jpg" %}" alt="affiche-peinture">
            <!-- <img title="affiche-peinture" class="img_catalogue" src="{% static "accueil/images/affiche-pig.jpg" %}" alt="affiche-peinture"> -->
            <img title="affiche-puis" class="img_catalogue" src="{% static "accueil/images/affiche-puis.jpg" %}" alt="affiche-puis">
          </div>
          <div class="cadre-1">
            <img title="affiche-ragard" class="img_catalogue" src="{% static "accueil/images/affiche-ragard.jpg" %}" alt="affiche-ragard">
            <img title="affiche-UPMoissac" class="img_catalogue" src="{% static "accueil/images/affiche-UPMoissac.jpg" %}" alt="affiche-UPMoissac">
          </div>
        </div>
      </div>
      <div id="maquette" class="section">
        <div class="center opacity-scroll-magic">
          <h2>maquette</h2>
          <p>création execution de vos maquettes</p>
        </div>
      </div>
      <div id="flyer" class="section">
        <div class="center opacity-scroll-magic">
          <h2>flyer</h2>
          <p>Rendez vos flyers plus percutants. Maximisez votre impact. Redonnez envie de lire vos publications.</p>
        </div>
      </div>
      <div id="logo" class="section">
        <div class="center opacity-scroll-magic">
          <h2>Elaborez un logo à votre image</h2>
          <p>Soyez plus facilement identifiable gr&acircce à votre logo personnalisé.</p>
        </div>
      </div>
      <footer id="contact" class="footer">
        <a class="icon" href="mailto:ramque@orange.fr?suject=Demande%20de%20devis">
          <i class="material-icons">email</i>
          <br/>
          Contact
        </a>
      </footer>
    </main>
  </body>
</html>
