<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Laurence Delcassé</title>
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'accueil/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'accueil/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'accueil/js/index.js' %}"></script>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <ul>
          <li class="navlink catalogue-nav"><a href="/">accueil</a></li>
        </ul>
      </nav>
    </header>
    <main>
        <p>thanks</p>
    </main>
  </body>
</html>
